@import '../../vendor/kungfufafa/mekaya-theme/resources/css/theme.css';
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views/**/*.blade.php';
@source '../../app/Filament/**/*.php';

.fi-badge {
    width: fit-content !important;
    align-self: flex-start !important;
    justify-self: start !important;
}

.whatsapp-login-icon {
    fill: #25d366;
}


